.card-deck{
  margin: 0;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.row-direction{
  flex-direction: row;
}

.col-direction{
  flex-direction: column;
}

.artwork-card{
  padding-bottom: 1rem;
}

.artworks-container{
  min-height: 90vh;
}

.table-grid{
  width: 100%;
}

.pagination {
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 1200px){
  .artworks-container{
    min-width: 92vw;
  }
}
