.card-deck{
  margin: 0;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}


.artwork-card{
  padding-bottom: 1rem;
}

.artworks-container{
  min-height: 90vh;
  min-width: 90vw;
}
