<div class="app-main">
  <!--Navbar -->
  <nav class="navbar navbar-expand-md">
    <!-- Brand -->
    <a class="navbar-brand text-center color-white">{{ title }} <br/> {{subtitle}}</a>
    <!--/.Brand -->

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--/.Collapse -->

    <!-- Links -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light color-white">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link waves-effect waves-light color-white" routerLink="/artworks-table">All Artworks
            <span class="sr-only">(current)</span>
          </a>
        </li>

      </ul>
      <!--/.Left -->

      <!-- Right -->
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light color-white" role="button">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light color-white" role="button">Login</a>
        </li>
      </ul>
      <!--/.Right -->

    </div>
    <!--/.Links -->
  </nav>
  <!--/.Navbar -->


  <div class="container container-body justify-content-center mt-4 mb-4">
    <router-outlet></router-outlet>
  </div>

  <!--Footer-->
  <footer class="footer">
    <div class="container d-flex flex-wrap justify-content-between align-items-center py-3">
      <div class="col-md-4 d-flex align-items-center">
        <span class="color-white">© 2021, Art Institute of Chicago</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3 mr-2"><fa-icon [icon]="['fab','twitter-square']" size="sm"></fa-icon></li>
        <li class="ms-3 mr-2"><fa-icon [icon]="['fab','instagram']" size="sm"></fa-icon></li>
        <li class="ms-3 mr-2"><fa-icon [icon]="['fab','facebook-square']" size="sm"></fa-icon></li>
      </ul>
    </div>
  </footer>
  <!--/.Footer-->

</div>
