.card {
  border:none;
}

.card-header{
  border: none;
  background-color: transparent;
  padding-bottom: 0;
  overflow: hidden;
  cursor: pointer;
}

.btn{
  width: -moz-available;
  display: flex;
}

.header{
  margin-right: auto;
}

.hide{
  display: none;
}
