:root {
  --font-size: 17px;
  --line-height: 1.4;
  --lines-to-show: 8;
}
.multiline-ellipsis  {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  margin: 0 auto;
  font-size: var(--font-size);
  line-height: var(--line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.grid{
  height: 28rem;
  width: 20rem;
}

.card-img-top{
  height: 15rem;
  vertical-align: middle;
}

.card-img-left{
  width: 18rem;
  height: 100%;
}

.card-text{
  text-align: justify;
}

.card-body{
  padding: 1rem;
}

.flex-row{
  flex-direction: row;
  height: 15rem;
  width: 100%;
}

.img-row{
  width: 15%;
}

.categories{
  display: contents;
}

.title-section{
  padding: 2%;
}
